.footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:60px 20px;
    margin-top:100px;
   }
   
   .footer-logo{
    font-size:22px;
    font-weight:700;
    margin-bottom:20px;
   }
   
   .footer-links a{
    margin:0 12px;
    color:white;
    text-decoration:none;
   }
   
   .footer-links{
    margin-bottom:20px;
   }