.logos{
    padding:80px 20px;
    text-align:center;
    background:transparent;
    }
    
    .logos h3{
    color:#94a3b8;
    margin-bottom:40px;
    font-weight:500;
    }
    
    /* LOGO ROW */
    
    .logos-row{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:60px;
    flex-wrap:wrap;
    }
    
    /* LOGOS */
    
    .logos-row img{
    height:40px;
    opacity:0.6;
    filter:grayscale(100%);
    transition:0.3s;
    }
    
    .logos-row img:hover{
    opacity:1;
    filter:grayscale(0);
    transform:scale(1.05);
    }