.dashboard{
    width:100%;
    max-width:450px;
    margin:auto;
    }
   .dashboard-header{
    font-weight:600;
    margin-bottom:20px;
    color:#e2e8f0;
   }
   
   .dashboard-stats{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
   }
   
   .stat-box{
    background:#020617;
    padding:15px;
    border-radius:10px;
    text-align:center;
    width:30%;
   }
   
   .stat-box h3{
    color:#3b82f6;
   }
   
   .dashboard-pipeline h4{
    margin-bottom:10px;
   }
   
   .dashboard-pipeline ul{
    list-style:none;
    padding:0;
   }
   
   .dashboard-pipeline li{
    background:#020617;
    margin-bottom:8px;
    padding:8px;
    border-radius:6px;
   }
   .dashboard-graph{
    margin:20px 0;
    background:#020617;
    padding:10px;
    border-radius:10px;
   }
   .activity{
    margin-top:15px;
   }
   
   .activity li{
    background:#020617;
    margin:6px 0;
    padding:8px;
    border-radius:6px;
    font-size:13px;
   }