/* GLOBAL RESET */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  }
  
  body{
  font-family: Arial, Helvetica, sans-serif;
  line-height:1.6;
  overflow-x:hidden;
  }
  
  img{
  max-width:100%;
  height:auto;
  display:block;
  }
  
  /* SECTION SPACING */
  
  section{
  padding:120px 80px;
  }
  
  /* CONTAINER */
  
  .container{
  max-width:1200px;
  margin:auto;
  }
  body{
    padding-top:80px;
    }